/* ==========================================
     Config
     ========================================== */
$primary-color: #F35178
$secondary-color: #f8d9e8
$highlight-color: #EDE42C
$background-color: #D2FAFF
$selection-background: #222

@import "core/core"

/* ==========================================
     Extensions
     ========================================== */
@import "exts/icons"
@import "exts/fonts"


/* ==========================================
     Modules
     ========================================== */

// @import "modules/my_module"


/* ==========================================
     Your Styles
     ========================================== */

body
    background: $background-color
    color: #333
    font-family: "Larsseit"
    font-weight: 100

header
    text-align: center
    padding: 8em 4em 1em 4em

a
    @include transition
    color: $primary-color
    text-decoration: none

.logo
    width: 50px
    margin: 2em 0 1em 0

h1,h2,h3,h4,h5,h6
    font-weight: 100
    margin: 0

h1
    font-size: 1.2em
    color: $primary-color

h2
    font-style: italic
    color: rgba(0,0,0,0.25)
    text-align: center
    margin: 2em 0 0 0

.productions
    padding: 6em 2em
    text-align: center
    letter-spacing: 1em

    article
        background: #fff
        background-size: cover
        background-position: top center
        width: 320px
        max-width: 100%
        min-height: 400px
        position: relative
        display: inline-block
        vertical-align: top
        text-align: left
        margin: 0 0 1em 0
        letter-spacing: 0
        box-shadow: 4px 4px 0 rgba(0,0,0,0.15)

        h6, p
            background: $highlight-color
            color: #111
            padding: 0.4em

        h6
            margin: 1.5em 0 0em 0
            font-size: 1.6em
            padding: 0 0.4em

        p
            margin: 0.5em 0
            font-size: 0.9em

        a
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            padding: 1.5em
            background: rgba(0,0,0,0)
            &:hover
                background: rgba(0,0,0,0.2)

.social-media
    font-size: 1.4em
    a
        color: darken($background-color, 50%)
        &:hover
            color: darken($background-color, 80%)
    li
        margin: 0 0.3em

.background, .dots
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
.background
    background-size: cover
    background-position: center center
    z-index: -2
.dots
    z-index: -1

.production
    text-align: center
    .stage
        padding: 1em
        letter-spacing: 1em
    .info, .shots
        display: inline-block
        vertical-align: top
        text-align: left
        letter-spacing: 0
    .info
        width: 400px
        max-width: 100%
    h2, .desc
        background: $highlight-color
        box-shadow: 4px 4px 0 rgba(0,0,0,0.15)
    h2
        margin: 0 0 0.5em 0
        padding: 0.3em 0.5em
        color: #111
        text-align: left
    .desc
        padding: 0.6em 1em 1.5em 1em
    .shots
        width: 600px
        max-width: 100%
        li
            margin: 0 0 1em 0
            box-shadow: 4px 4px 0 rgba(0,0,0,0.15)
