$primary-color: #1DC53D
$highlight-color: #FFDC9E
$background-color: #efefef
$selection-background: #222
$selection-color: #fff

@import "core/core"

body
    background: $background-color
    color: #333
    font-family: "Helvetica", "Arial", "sans-serif"

main
    padding: 8em 4em 1em 4em

a
    @include transition
    color: #FB586F
    text-decoration: none

.logo
    width: 280px
    margin: 2em 0 1em 0
    position: fixed
    top: 0
    right: 40px
    z-index: -1

h1,h2,h3,h4,h5,h6
    margin: 0

h3,h4,h5,h6
    font-weight: normal

h1
    font-size: 5em
    color: #fff
    line-height: 1
    text-shadow: 2px 2px 0px rgb(158, 183, 255)
    word-break: break-all

h2
    font-size: 2.2em
    font-style: italic
    color: rgba(255, 255, 255, 0.3)
    text-shadow: 2px 2px 0 rgb(97, 194, 255)

a
    &:hover
        text-decoration: underline
        text-decoration-style: wavy

.blurb
    margin: 2em 0

.residency
    margin: 1em 0 2em 0
    li
        color: #ff3131
    .authors
        margin-left: 0.6em
        a
            color: #718CC3
    .project
        color: rgba(255, 255, 255, 0.6)
        text-shadow: 2px 2px 1px rgb(83, 188, 255)
        font-size: 1.8em
        font-weight: bold

footer
    font-style: italic
    color: rgba(0,0,0,0.1)
    a, a:visited
        color: rgba(0,0,0,0.1)

