extends inc/layout

block main
    header
        //img(src="img/logo.png", class="logo", alt="Public Science")
        div
            h1 Public Science
            h2 internet lifestyle for today's living.
        ul(class="social-media list__horizontal")
            li
                a(href="https://github.com/publicscience") github
            li
                a(href="https://twitter.com/pub_sci") twitter
