extends inc/layout

block main
    header
        img(src="img/logo.png", class="logo", alt="Public Science")
        div
            h1 Public Science
            h2 internet lifestyle for today's living.
        p.blurb a loose assembly of people working in design, art, and software to develop socially-oriented outputs

        .residency
            h4 PubSciRes
            ul
                li Winter ~ <a href="https://github.com/jdiedrick/whitefragility" class="project">White Fragility</a>
                    span.authors (<a href="http://johanndiedrick.com">Johann</a>)
                li Spring ~ <a href="http://frnsys.com/hosny/" class="project">Humans of Simulated New York</a>
                    span.authors (<a href="http://trytobegood.com">Fei</a> & <a href="http://frnsys.com">Francis</a>)
