extends inc/layout

block main
    header
        //img(src="img/logo.png", class="logo", alt="Public Science")
        div
            h1 Public Science
            h2 internet lifestyle for today's living.
        p.blurb Public Science is a group of people who chat online and irl to discuss and work on things.

        .residency
            h4 PubSciRes
            ul
                li Winter ~ <a href="https://github.com/jdiedrick/whitefragility">White Fragility</a>
                li Spring ~ <a href="http://frnsys.com/hosny/">Humans of Simulated New York</a>

    footer
        p 2013-2016. Key punchers include but are not limited to: ...
