include ../../inc/mixins
extends ../../inc/layout

block main
    +production("nomadic", {
        "source code": "https://github.com/frnsys/nomadic"
    }, [
        "/img/shots/nomadic/01.png",
        "/img/shots/nomadic/02.png",
        "/img/shots/nomadic/03.png",
        "/img/shots/nomadic/04.png",
        "/img/shots/nomadic/05.png",
        "/img/shots/nomadic/06.png"
    ])
        p Get off the grid&#0153; and manage your own notes.
