include ../../inc/mixins
extends ../../inc/layout

block main
    +production("argos", {
        "source code": "https://github.com/publicscience/argos"
    }, [
        "/img/shots/argos/onboarding.jpg",
        "/img/shots/argos/web_example.jpg",
        "/img/shots/argos/proto.jpg"
    ])
        p Keeping up with the news takes a lot of time and effort. Many of the important, long-running stories of our times are hard to break into if you have no idea what's been going on.
        p Argos is a news application which automatically compiles incoming news articles into timelines, so that it is easy to catch up with an ongoing story. Argos additionally provides some contextual information and summaries to enhance the understanding of these stories.
        p Argos is currently in development, with an anticipated release date of early 2015.
