include ../../inc/mixins
extends ../../inc/layout

block main
    +production("nito", {
        "OSX app": "http://frnsys.com/files/nito-1.0.zip",
        "source code": "https://github.com/frnsys/nito"
    }, [
        "/img/shots/nito/pixel.png",
        "/img/shots/nito/encoded.png",
        "/img/shots/nito/flow.png"
    ])
        p NITO, derived from “incogNITO” and from “匿透” (nì tòu; “conceal” and “leak out”), is a steganographic tool for encoding and decoding sensitive information into images that can be publicly traded, which can be unlocked only using context-specific keys that rely on the recipient’s own knowledge.

        p A principle idea behind steganography is that obvious hiding places are in reality the least obvious ones. If you’ve ever played hide-and-go-seek, and tried hiding in the most obvious hiding places, you’ll often find that those are the last places the seeker will look. People have the least suspicions about “plain-sight” because they never expect anything to be hidden there.

        p This usage of subtly coding messages into images means that there is no need for the formation of secret networks or the obvious usage of circumvention techniques that would raise the suspicion of anyone who happened upon them. These encoded images can be traded openly on public message boards without appearing threatening.

        p Fundamentally, NITO operates on the basic username-and-password (or lock-and-key) method that protects most information today. However, a flaw in many of these security systems is that the passwords must be stored within the systems. That is, they are saved somewhere where they potentially can be accessed by someone else. Typically this is not a concern, but NITO explores an alternative to this conventional method.

        p Here, the “key” is not stored on a server or somewhere accessible, but is rather formed from an individuals own background and contextual knowledge.

        p The keys will typically be related to a hint present in the image and draw upon (sub)cultural knowledge that a person has. An object in the image might only be perceived as a potential hint because of special associations an individual might have.

        p NITO is pretty simple in how it encodes data into images. Don't use it for sensitive stuff :)
