mixin production(name, links, images)
    - links = links || {}
    - images = images || []
    .production
        .background(style="background-image:url('/img/productions/"+name+".jpg');")
        .dots(style="background-image:url('/img/dot.png');")

        .stage
            .info
                h2= name
                .desc
                    if block
                        block
                    else
                        p= "no description"
                    ul.links
                        each val, key in links
                            li
                                a(href=val)= key

            if images.length > 0
                ul.shots
                    each image in images
                        li
                            img(src=image)
