include ../../inc/mixins
extends ../../inc/layout

block main
    +production("glimpse", {
        "source code": "https://github.com/publicscience/glimpse"
    })
        p View your Twitter stream as images
