include ../../inc/mixins
extends ../../inc/layout

block main
    +production("mob", {
        "join a mob": "http://mob.publicscience.co",
        "source code": "https://github.com/ftzeng/mob"
    })
        p We have the technology to chat with thousands or even hundreds of thousands of people at once. Why don't we??
        p With Mob, you can form a "mob" around any topic, ongoing event, whatever you want, and join the anonymous madness.
