include ../../inc/mixins
extends ../../inc/layout

block main
    +production("brain", {
        "the brain in action": "https://twitter.com/pub_sci",
        "source code": "https://github.com/publicscience/brain"
    })
        p Maintaining the social media chatter necessary for sustaining "brand awareness" is an awful lot of work. Why not get a computer to do it for you? ;)
        p The Brain is a Twitter bot&#0153; which learns from a few designated "muses" and regularly tweets in their style. It can additionally learn about what (and what not) to retweet to handle your cross-brand synergistic promotion as well :)
